@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.25rem;
    font-family: "work sans",sans-serif;
    line-height: 150%;
    background-color: #0e0e0e;
}

/* Navigation */

.header {
  background-color: #00000091;
  border-bottom: 2px solid rgba(0, 0, 0, 0.322);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  backdrop-filter: blur(10px);
}

.header ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #fafafa;
}

/*.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f459;
}*/


.header a:hover{
	color: #FFB75E;
	transition: .22s ease-in-out;
	 top: -3px;
	font-size: 110%;
}

.header a{
	transition: .22s ease-in-out;
	position: relative;
	top: 0;
	
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ED8F03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header a:hover:after { 
  width: 100%; 
  left: 0; 
}


.header ul li.current-menu-item a{
    border-bottom: 2px solid #ED8F03;
    display: inline-block;
    padding-bottom: -300px;
}


.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  height: auto;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  margin: 10px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Grids */

.container {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

  .container2 {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(2, minmax(1px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }


  .container-heading .item {
    padding: 10px;
    color: #ffffff;
  }

  .container2 .item {
    padding: 10px;
    color: white;
    font-size: 30px;
  }

  .container2 .item--1 {
    background-color: orangered;
  }
  
  .container2 .item--2 {
    background-color: yellowgreen;
  }

  .container-heading .item--1 {
    margin-top: 200px;
  }




.container-heading {
    width: 1000px;
    margin: 60px auto;
    margin-bottom: -180px;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

  .container-heading .item {
    padding: 10px;
    color: #ffffff;
  }

  .container .item {
    padding: 10px;
    color: white;
    font-size: 30px;
  }

  .container .item--1 {
    background-color: orangered;
  }
  
  .container .item--2 {
    background-color: yellowgreen;
  }

  .container-heading .item--1 {
    margin-top: 200px;
  }

/* Sections */

.content-mid{
    margin-top: 10px;
}

.process-title{
  font-size: 1.5rem;
  color: #eeebeb;
  line-height: 130%;
  text-align: center;
  padding-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
}

.spørgsmål-bestil{
  color: #eeebeb;
  padding-left: 11%;
  padding-right: 11%;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 10px;
}

.spørgsmål-bestil2{
  color: #eeebeb;
  padding-left: 11%;
  padding-right: 11%;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 0px;
}

.process-bestil{
  width: 80%;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.div-process{
  text-align: center;
  padding-bottom: 50px;
}

.hjælp{
  padding-bottom: 100px;
}

/* Fonts */

.heading{
  font-size: 1.5rem;
  color: #eeebeb;
  line-height: 130%;
  text-align: center;
  padding-top: 30px;
}

.heading span{
  font-size: 34px;
}

.bestil-text p{
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

/* Images */

.croissant{
  margin: auto;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 30px auto;
}

.croissant-img{
text-align: center;
}

.hero{
  width: 100%;
  height: auto;
  margin: 30px 0px -50px 0px;
}

.hero-img{
text-align: center;
}

/* Button */

.btn-center{
  text-align: center;
}

  .btn1 {background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%)}
  .btn1 {
     margin: auto;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 0px #eee;
     border-radius: 40px;
     display: block;
     border: none;
     cursor: pointer;

   }

   .btn1:hover {
     background-position: right center; 
     color: #fff;
     text-decoration: none;
   }

   a {
    text-decoration: none;
}

.btn-second {
  background-image: linear-gradient(to right, #585858 0%, #7a7a7a  51%, #363636  100%)
}

/* Seperators */

.seperator {
  width: 80%;
  border-color: #D17200;
  margin-top: -100px;
  margin-bottom: -100px;
}

.striped-border { 
  border: 1.2px dashed #eeebeb;
  width: 20%;
  margin: auto;
  margin-top: -2%;
  margin-bottom: 0%;
}

/* Media Queries */

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logo{
    width: 200px;
  }
}

.vertical{
  border-left: 3px solid #707070;
  height: 40px;
  position:absolute;
  left: 10%;
}

.msg {
  font-size: 10px;
  font-weight: 400;
  color: blue;
  margin-top: -20px;
  margin-bottom: -35px;
  padding: 10px;
}

.text {
  color: #ffffff;
}

.title {
  color: #ffffff;
}

/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: rgb(31, 31, 31);
  border-top: 2px solid #D17200;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo{
  width: 30%;
  height: auto;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #ffffff;
  padding: 3px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #D17200;
  border-radius: 100px;
  color: #ffffff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.social-icon{
  width: 100%;
  height: auto;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size: 15px;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.footer-title{
  font-size: 18px;
  margin-bottom: -40px;
}

.footer-text{
  font-size: 15px;
}


.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}






/*-------------- BESTIL MEDIA --------------*/

@media only screen and (max-width: 768px) and (min-width: 553px){

  
  /* Sections */

.content-mid{
  margin-top: 10px;
}

.process-title{
font-size: 1.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: -1000px;
padding-left: 3%;
padding-right: 3%;
}

.spørgsmål-bestil{
color: #eeebeb;
padding-left: 11%;
padding-right: 11%;
text-align: center;
font-size: 16px;
line-height: 150%;
padding-bottom: 10px;
}

.spørgsmål-bestil2{
color: #eeebeb;
padding-left: 11%;
padding-right: 11%;
text-align: center;
font-size: 16px;
line-height: 150%;
padding-bottom: 0px;
}

.process-bestil{
width: 70%;
height: auto;
padding-left: 3%;
padding-right: 3%;
padding-top: 20px;
}

.div-process{
text-align: center;
padding-bottom: 50px;
}

.hjælp{
padding-bottom: 100px;
}

/* Fonts */

.heading{
font-size: 1.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: 65px;
}

.heading span{
font-size: 34px;
}

.bestil-text p{
padding-left: 4%;
padding-right: 4%;
text-align: center;
font-size: 16px;
line-height: 150%;
padding-top: 29px;
}

.container2{
  padding-top: 15px
}

/* Images */

.croissant{
margin: auto;
width: 100%;
height: auto;
padding: 10px;
margin: 30px auto;
padding-top: -100px;
}

.croissant-img{
text-align: center;
}
}


/*-----------tablet bestil---------------*/

@media only screen and (max-width: 1024px) and (min-width: 769px){

  
  /* Sections */

.content-mid{
  margin-top: 10px;
}

.process-title{
font-size: 1.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: -1000px;
padding-left: 3%;
padding-right: 3%;
}

.spørgsmål-bestil{
color: #eeebeb;
padding-left: 11%;
padding-right: 11%;
text-align: center;
font-size: 19px;
line-height: 150%;
padding-bottom: 10px;
}

.spørgsmål-bestil2{
color: #eeebeb;
padding-left: 20%;
padding-right: 20%;
text-align: center;
font-size: 19px;
line-height: 150%;
padding-bottom: 0px;
}

.process-bestil{
width: 70%;
height: auto;
padding-left: 3%;
padding-right: 3%;
padding-top: 20px;
}

.div-process{
text-align: center;
padding-bottom: 50px;
}

.hjælp{
padding-bottom: 100px;
}

/* Fonts */

.heading{
font-size: 1.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: 65px;
}

.heading span{
font-size: 34px;
}

.bestil-text p{
padding-left: 6%;
padding-right:6%;
text-align: center;
font-size: 19px;
line-height: 150%;
padding-top: 54px;
}

.container2{
  padding-top: 15px
}

/* Images */

.croissant{
margin: auto;
width: 100%;
height: auto;
padding: 10px;
margin: 30px auto;
padding-top: -100px;
}

.croissant-img{
text-align: center;
}
}




/*----------laptop bestil-----------*/


@media only screen and (max-width: 1440px) and (min-width: 1024px){

  
  /* Sections */

.content-mid{
  margin-top: 10px;
}

.process-title{
font-size: 2.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: -1000px;
padding-left: 3%;
padding-right: 3%;
}

.spørgsmål-bestil{
color: #eeebeb;
padding-left: 11%;
padding-right: 11%;
text-align: center;
font-size: 27px;
line-height: 150%;
padding-bottom: 10px;
}

.spørgsmål-bestil2{
color: #eeebeb;
padding-left: 20%;
padding-right: 20%;
text-align: center;
font-size: 27px;
line-height: 150%;
padding-bottom: 0px;
}

.process-bestil{
width: 70%;
height: auto;
padding-left: 3%;
padding-right: 3%;
padding-top: 20px;
}

.div-process{
text-align: center;
padding-bottom: 50px;
}

.hjælp{
padding-bottom: 100px;
}

/* Fonts */

.heading{
font-size: 2.5rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: 65px;
padding-left: 15%;
padding-right: 15%;
}

.heading span{
font-size: 56px;
}

.bestil-text p{
padding-left: 7%;
padding-right:7%;
text-align: center;
font-size: 27px;
line-height: 150%;
padding-top: 68px;
}

.container2{
  padding-top: 25px
}


.btn1{
  font-size: 19px;
}

/* Images */

.croissant{
margin: auto;
width: 100%;
height: auto;
padding: 10px;
margin: 30px auto;
padding-top: -100px;
}

.croissant-img{
text-align: center;
}
}











/*----------4K bestil-----------*/


@media only screen and (max-width: 2560px) and (min-width: 1441px){

  
  /* Sections */

.content-mid{
  margin-top: 10px;
}

.process-title{
font-size: 3.8rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: 180px;
padding-left: 3%;
padding-right: 3%;
}

.spørgsmål-bestil{
color: #eeebeb;
padding-left: 11%;
padding-right: 11%;
text-align: center;
font-size: 50px;
line-height: 150%;
padding-bottom: 10px;
}

.spørgsmål-bestil2{
color: #eeebeb;
padding-left: 20%;
padding-right: 20%;
text-align: center;
font-size: 50px;
line-height: 150%;
padding-bottom: 0px;
}

.process-bestil{
width: 70%;
height: auto;
padding-left: 3%;
padding-right: 3%;
padding-top: 20px;
}

.div-process{
text-align: center;
padding-bottom: 50px;
}

.hjælp{
padding-bottom: 100px;
}

/* Fonts */

.heading{
font-size: 3.9rem;
color: #eeebeb;
line-height: 130%;
text-align: center;
padding-top: 175px;
padding-left: 15%;
padding-right: 15%;
}

.heading span{
font-size: 56px;
}

.bestil-text p{
padding-left: 7%;
padding-right:7%;
text-align: center;
font-size: 50px;
line-height: 150%;
padding-top: 68px;
}

.container2{
  padding-top: 125px
}


.btn1{
  font-size: 42px;
}

/* Images */

.croissant{
margin: auto;
width: 100%;
height: auto;
padding: 10px;
margin: 30px auto;
padding-top: 0px;
}

.croissant-img{
text-align: center;
padding-top: 10px;
}


.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  margin-left: 50px;
  text-decoration: none;
  width: 250px;
  height: auto;
  margin-top: 20px;
}


.menu{
  font-size: 50px;
  padding-top: 200px;
}

li{
  padding-top: 20px;
  padding-right: 20px;
}
}