@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.25rem;
    font-family: "work sans",sans-serif;
    line-height: 125%;
    background-color: #0e0e0e;
}

.bd-grid {
    max-width: 1500px;
    margin: 200px auto;
}

/* Navigation */

.header {
  background-color: #00000091;
  border-bottom: 2px solid rgba(0, 0, 0, 0.322);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  backdrop-filter: blur(10px);
}

.header ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
}

.header li a {
  display: block;
  margin: 0 20px 0px 20px;
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
}

.header a:hover{
	color: #FFB75E;
	transition: .22s ease-in-out;
	top: -3px;
}

.header a{
	transition: .22s ease-in-out;
	position: relative;
	top: 0;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 2px;
  left: 40%;
  position: absolute;
  background: #ED8F03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header a:hover:after { 
  width: 10%; 
  left: 45%; 
}


.header ul li.current-menu-item a{
    border-bottom: 2px solid #ED8F03;
    display: inline-block;
    padding-bottom: -300px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  margin: 10px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 770px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .logo{
      display: block;
      float: left;
      height: auto;
      width: 120px;
      margin: 20px auto auto 100px;
    }
  }

/* Grid system */

.container {
    width: 1000px;
    margin: 130px auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(1, minmax(10px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

.container__footer {
  border-top: 1px solid #fafafa;
    margin: 250px auto;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(4, minmax(0px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

  .container .item {
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
  }
  .container .item--1 {
    background-color: rgba(255, 68, 0, 0);
    margin: auto;
  }
  .container .item--2 {
    background-color: rgba(153, 205, 50, 0);
    margin: auto;
  }
  .container .item--3 {
    background-color: rgba(137, 43, 226, 0);
    margin: auto;
  }
  /* Ekstra container */
  .container .item--4 {
    background-color: palevioletred;
  }
  .container .item--5 {
    background-color: rgba(65, 105, 225, 0);
  }
  .container .item--6 {
    background-color: rgba(218, 165, 32, 0);
  }
  .container .item--7 {
    background-color: rgba(220, 20, 60, 0);
  }
  .container .item--8 {
    background-color: rgba(47, 79, 79, 0);
  }

/* Images */

.logo {
  display: block;
  float: left;
  height: auto;
  width: 100px;
  margin: 20px;
}

.footer-logo {
    display: block;
    height: auto;
    width: 200px;
    margin: auto;
}

img{
    text-align: center;
}

.hero{
    width: 100%;
    height: auto;
  }

 .Omos-hero {
   padding-top: 6em;
 }

.gd-img{
    width: 100%;
    height: auto;
    max-width: 500px;
  }

.footer-img{
    max-width: 30px;
  }

  iframe{
    width: 100%;
    height: 400px;
    style: none;
    border: none;
  }

/* Fonts, Titles & Emojis  */

.heading-big{
    font-size: 1.5rem;
    color: #eeebeb;
    line-height: 130%;
    text-align: center;
    margin-bottom: -150px;
    max-width: 1000px;
    }

.heading{
    font-size: 1.5rem;
    color: #eeebeb;
    line-height: 130%;
    text-align: center;
    }
    
span {
    font-size: 1rem;
    color: #a5a5a5;
    font-weight: 100;
}

.emoji {
    font-size: 1rem;
}

p{
    font-size: 1rem;
    color: #eeebeb;
    text-align: center;
    font-weight: 600;
}

/* Buttons */

ul li a.active{
	color: #FFB75E;
	transition: .22s ease-in-out;
}

ul li a.active:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 2px;
  left: 40%;
  position: absolute;
  background: #ED8F03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 20%;
}

.btn-center{
    text-align: center;
  }
  
    .btn1 {background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%)}
    .btn1 {
       margin: auto;
       padding: 10px 20px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 0px #eee;
       border-radius: 40px;
       display: block;
       border: none;
       cursor: pointer;
     }

     .btn1:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
     }

     a {
      text-decoration: none;
    }

  .btn-second {
    background-image: linear-gradient(to right, #585858 0%, #7a7a7a  51%, #363636  100%)
  }

/* Seperator */

.seperator {
    width: 80%;
    border-color: #D17200;
    margin-bottom: -50px;
  }

/* Center class */

.centered {
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

/* Tablet Media Query */

@media only screen and (min-width: 768px){

    .container .item--2 {
        padding: 10px;
      }

      .bd-grid {
        margin: 200px auto;
      }

    p {
        font-size: 5.5rem;
        text-align: left;
        }
        
    .btn1 {
        margin: 0;
        padding: 15px 25px;
    }

    .heading-big {
        font-size: 2.5rem;
        color: #eeebeb;
        line-height: 130%;
        text-align: left;
        }

    .heading {
        font-size: 2rem;
        text-align: left;
        }
    
    .seperator {
        margin-bottom: -250px;
        }
    
    .centered {
          margin: auto;
          text-align: center;
          justify-content: center;
        }

    .emoji {
          font-size: 2rem;
        }

    .container .item--3 {
          margin: auto 0;
        }
    ul li a.active{
          color: #FFB75E;
          transition: .22s ease-in-out;
        }
        
    ul li a.active:after{
          background: none repeat scroll 0 0 transparent;
          bottom: 1;
          content: "";
          display: block;
          height: 2px;
          left: 45%;
          position: absolute;
          background: #ED8F03;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 10%;
        }

}

/* Medium Laptop Media Query */

@media only screen and (min-width: 1024px){

    .container .item--2 {
        padding: 65px;
      }

      .container__footer{
        margin: 250px auto;
      }

    .seperator {
        margin-bottom: -180px;
        }

    .bd-grid {
          margin: 0px auto;
        }

    .centered {
          margin: auto;
          text-align: center;
          justify-content: center;
        }

    a:after {    
          background: none repeat scroll 0 0 transparent;
          bottom: 1;
          content: "";
          display: block;
          height: 2px;
          left: 20%;
          position: absolute;
          background: #ED8F03;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        
    .header a:hover:after { 
          width: 50%; 
          left: 25%; 
        }

    ul li a.active{
          color: #FFB75E;
          transition: .22s ease-in-out;
        }
        
    ul li a.active:after{
          background: none repeat scroll 0 0 transparent;
          bottom: 1;
          content: "";
          display: block;
          height: 2px;
          left: 25%;
          position: absolute;
          background: #ED8F03;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 50%;
        }

    .container .item--5 {
          background-color: rgba(65, 105, 225, 0);
          margin: 0px 0 0 0px;
        }
    .container .item--6 {
          background-color: rgba(218, 165, 32, 0);
          margin: 0px 0 0 0px;
        }
    .container .item--7 {
          background-color: rgba(220, 20, 60, 0);
          margin: 0px 0 0 100px;
        }
    .container .item--8 {
          background-color: rgba(47, 79, 79, 0);
          margin: 0px 0 0 0px;
        }

    .container .item--3 {
          margin: auto auto auto 50px;
        }
}

/* Large Laptop Media Query */

@media only screen and (min-width: 1440px){

    .container .item--2 {
        padding: 65px;
      }

    .heading {
        font-size: 2rem;
        }

    p {
        font-size: 1.5rem;

        }

    .centered {
          margin: auto;
          text-align: center;
          justify-content: center;
        }

    iframe{
          width: 150%;
          height: 400px;
          style: none;
          border: none;
          padding-right: 200px;
        }
}