@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.25rem;
    font-family: "work sans",sans-serif;
    line-height: 150%;
    background-color: #0e0e0e;
}

/* Navigation */

.header {
  background-color: #00000091;
  border-bottom: 2px solid rgba(0, 0, 0, 0.322);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  backdrop-filter: blur(10px);
}

.header ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #fafafa;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f459;
}

.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  height: auto;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  margin: 10px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logo{
    width: 200px;
  }
}


/* Grids */

.container {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

.container-heading {
    width: 1000px;
    margin: 60px auto;
    margin-bottom: -180px;
    display: grid;
    width: 90%;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

  .container-heading .item {
    padding: 10px;
    color: #ffffff;
  }

  .container .item {
    padding: 10px;
    color: white;
    font-size: 30px;
  }

  .container .item--1 {
    background-color: orangered;
  }
  
  .container .item--2 {
    background-color: yellowgreen;
  }

  .container-heading .item--1 {
    margin-top: 200px;
  }

/* Sections */

.content-mid{
    background-color: #0e0e0e;
    margin-top: 100px;
}

/* Fonts */

.heading{
    font-size: 2rem;
    color: #ffffff;
    line-height: 2.5rem;
    text-align: center;
}

.heading span{
    font-size: 50px;
}

.croissant{
  margin: auto;
  width: 100%;
  height: auto;
  border: 3px solid green;
  padding: 10px;
  margin: 30px auto;
}

.croissant-img{
text-align: center;
}


.bestil-text p{
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.croissant{
  width: 80%;
  height: auto;
  padding-top: 65px;
}

.croissant-img{
text-align: center;

}
.btn-center{
  text-align: center;
}

  .btn1 {background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%)}
  .btn1 {
     margin: auto;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 0px #eee;
     border-radius: 40px;
     display: block;
     border: none;
     cursor: pointer;

   }

   .btn1:hover {
     background-position: right center; 
     color: #fff;
     text-decoration: none;
   }

.seperator {
  width: 50%;
  border-color: #D17200;
  margin-top: -40px;
}